<div class="mat-elevation-z8">
  <table mat-table #table [dataSource]="dataSource" matSort aria-label="Elements">
    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
      <td mat-cell *matCellDef="let row">{{row.id}}</td>
    </ng-container>

    <!-- date Column -->
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
      <td mat-cell *matCellDef="let row">{{row.date}}</td>
    </ng-container>

    <!-- Achats Column -->
    <ng-container matColumnDef="achats">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Achats</th>
      <td mat-cell *matCellDef="let row">{{row.achats}}</td>
    </ng-container>

    <!-- Ventes Column -->
    <ng-container matColumnDef="ventes">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Ventes</th>
      <td mat-cell *matCellDef="let row">{{row.ventes}}</td>
    </ng-container>

    <!-- Total Column -->
    <ng-container matColumnDef="total">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Total</th>
      <td mat-cell *matCellDef="let row">{{row.total}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator #paginator
    [length]="dataSource.data.length"
    [pageIndex]="0"
    [pageSize]="5"
    [pageSizeOptions]="[3, 6, 9, 12]">
  </mat-paginator>
</div>