<h1>Liste des Ventes</h1>


<app-tab-vente></app-tab-vente>


<section>
  <article *ngFor="let operation of operations | async">
    <div *ngIf="!operation.type">
    <p>{{ operation.name  }}</p>
    <p>{{operation.id }}</p>
    <p>{{operation.category }}</p>
    <p>{{operation.type }}</p>
    <p>{{operation.date }}</p>
  </div>
  </article>
</section>