<p>
  home works!
</p>



<input type="number" [(ngModel)]="nombre1">
<input type="number" [(ngModel)]="nombre2">


<button (click)="addition()">Addition</button>
<button (click)="multiplication()">Multiplier</button>
<button (click)="division()">Diviser</button>

<div class="container">
  <div class="row">
    <li class="list-group-item col-2 mx-auto">{{resultat}}</li>
  </div>
</div>


